openapi: 3.2.0
info:
  title: Accor Businessoffers API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 79 operation(s) read from 28 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Accor has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 79
    pages-with-code: 0
    pages-read: 28
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developer.accor.com/api-portfolio/accommodations/108
  - https://developer.accor.com/api-portfolio/asset-contracts/100
  - https://developer.accor.com/api-portfolio/business-offers/134
  - https://developer.accor.com/api-portfolio/customer-information/400
  - https://developer.accor.com/api-portfolio/customer-marketing-subscriptions/14
  - https://developer.accor.com/api-portfolio/facilities/105
  - https://developer.accor.com/api-portfolio/hotel-events/100
  - https://developer.accor.com/api-portfolio/hotel-interface/101
  - https://developer.accor.com/api-portfolio/hotel-options/102
  - https://developer.accor.com/api-portfolio/hotel-policies/101
  - https://developer.accor.com/api-portfolio/hotel-rates/102
  - https://developer.accor.com/api-portfolio/hotel-surroundings/100
  - https://developer.accor.com/api-portfolio/hotel-taxes/101
  - https://developer.accor.com/api-portfolio/link-loyalty-cross-rewards-program/104
  - https://developer.accor.com/api-portfolio/loyalty-burn/133
  - https://developer.accor.com/api-portfolio/loyalty-fnb-earn/100
  - https://developer.accor.com/api-portfolio/loyalty-generic-partner-earn-points/116
  - https://developer.accor.com/api-portfolio/loyalty-partner-enroll/200
  - https://developer.accor.com/api-portfolio/medias/101
  - https://developer.accor.com/api-portfolio/payment/222
  - https://developer.accor.com/api-portfolio/payment-interface-payment-provider/105
  - https://developer.accor.com/api-portfolio/privatepublicationcheck/200
  - https://developer.accor.com/api-portfolio/properties/1016
  - https://developer.accor.com/api-portfolio/referential-loyalty-cards-threshold/100
  - https://developer.accor.com/api-portfolio/referential-v2/203
  - https://developer.accor.com/api-portfolio/restaurants-v2/257
  - https://developer.accor.com/api-portfolio/travelconciergetestnew/200
  - https://developer.accor.com/api-portfolio/hotel-inventory/102
servers:
- url: https://api.accor.com
tags:
- name: Businessoffers
paths:
  /businessoffers/v1/best-offers:
    get:
      operationId: get_businessoffers_v1_best_offers
      tags:
      - Businessoffers
      summary: Provides access to best offers, including live rates and availability
      x-source: https://developer.accor.com/api-portfolio/business-offers/134
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessoffersV1BestOffersResponse'
      x-evidence:
        kind: documentation
    post:
      operationId: post_businessoffers_v1_best_offers
      tags:
      - Businessoffers
      summary: Provides access to best offers, including live rates and availability
      x-source: https://developer.accor.com/api-portfolio/business-offers/134
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBusinessoffersV1BestOffersRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBusinessoffersV1BestOffersResponse'
      x-evidence:
        kind: documentation
  /businessoffers/v1/hotels/{hotelid}/calendar/best-offers:
    get:
      operationId: get_businessoffers_v1_hotels_hotelid_calendar_best_offers
      tags:
      - Businessoffers
      summary: Get the cheapest and best offer for each day of the searched period
      x-source: https://developer.accor.com/api-portfolio/business-offers/134
      parameters:
      - name: hotelid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessoffersV1HotelsHotelidCalendarBestOffersResponse'
      x-evidence:
        kind: documentation
  /businessoffers/v1/hotels/{hotelid}/products/offers:
    post:
      operationId: post_businessoffers_v1_hotels_hotelid_products_offers
      tags:
      - Businessoffers
      summary: Get available offers for a specific hotel
      x-source: https://developer.accor.com/api-portfolio/business-offers/134
      parameters:
      - name: hotelid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBusinessoffersV1HotelsHotelidProductsOffersRequest'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBusinessoffersV1HotelsHotelidProductsOffersResponse'
      x-evidence:
        kind: documentation
  /businessoffers/v1/offers/{offerid}:
    get:
      operationId: get_businessoffers_v1_offers_offerid
      tags:
      - Businessoffers
      summary: Provides partners with access to available options for offers, including the…
      x-source: https://developer.accor.com/api-portfolio/business-offers/134
      parameters:
      - name: offerid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessoffersV1OffersOfferidResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at offerId
  /businessoffers/v1/offers/{offerid}/pricing-conditions:
    get:
      operationId: get_businessoffers_v1_offers_offerid_pricing_conditions
      tags:
      - Businessoffers
      summary: Get pricing conditions by offer id
      x-source: https://developer.accor.com/api-portfolio/business-offers/134
      parameters:
      - name: offerid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessoffersV1OffersOfferidPricingConditionsResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    GetBusinessoffersV1OffersOfferidResponse:
      type: object
      properties:
        OptionResponse:
          type: object
    GetBusinessoffersV1BestOffersResponse:
      type: object
      properties:
        BestOfferResponse:
          type: object
    PostBusinessoffersV1BestOffersResponse:
      type: object
      properties:
        BestOfferResponse:
          type: object
    GetBusinessoffersV1OffersOfferidPricingConditionsResponse:
      type: object
      properties:
        PricingConditionsResponse:
          type: object
    PostBusinessoffersV1BestOffersRequest:
      type: object
      properties:
        BestOfferRequest:
          type: object
    PostBusinessoffersV1HotelsHotelidProductsOffersRequest:
      type: object
      properties:
        OfferRequest:
          type: object
    PostBusinessoffersV1HotelsHotelidProductsOffersResponse:
      type: object
      properties:
        OffersResponse:
          type: object
    GetBusinessoffersV1HotelsHotelidCalendarBestOffersResponse:
      type: object
      properties:
        CalendarBestOffersResponse:
          type: object
